body{
    margin: 0px;
    padding: 0px;
}

/* section-1 */

main{
    font-family: 'Poppins', sans-serif;
    margin: 0px 40px;
    padding: 0px;
}

.flex{
    display: flex;
}

.half-width{
    width: 50%;
}

.sec-1{
    margin: 60px 100px;
}

.cont-pad{
    padding-right: 20px;
    width: 420px;
}

.img-pad{
    padding-left: 200px;
}

.sec-1 img{
    width: 90%;
}

.header-color-1{
    color: rgb(113, 113, 196);
}

.box-1{
    border-left: 3px solid;
    border-image: linear-gradient(black, rgb(113, 113, 196));
    border-image-slice: 1;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    width: 420px;
}
.button{
    padding: 3px 20px;
    text-decoration: none;
    color: beige;
    background-image: linear-gradient(rgb(167, 167, 253), rgb(113, 113, 196));
    border-radius: 5px;
}

/* section-2 */

.sec-2{
    margin: 60px 100px;
}

.sec-2 h1{
    text-align: center;
    color: rgb(43, 22, 22);
    padding: 10px 0px;
    font-weight: 700;
    font-size: 50px;
}

.header-color-2{
    color:rgb(113, 113, 196);
}

.flex-img{
    width: 60%;
}

.sec-2-box-2{
    margin: 0px 20px 80px 0px;
    padding: 5px 30px;
    border-radius: 20px;
}

.mission-color{
    background-color: rgb(241, 241, 253);
}

.vision-color{
    background-color: rgb(255, 230, 233);
}

.goals-color{
    background-color: beige;
}

/* section-3 */

.sec-3{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left center;
}

.sec-3 .flex{
    margin:  60px 100px;
}

.sec-3 div img{
    width: 70%;
}

.name-color{
    color: rgb(126, 29, 29);
}

.button{
    padding: 3px 20px;
    text-decoration: none;
    color: beige;
    background-image: linear-gradient(rgb(167, 167, 253), rgb(113, 113, 196));
    border-radius: 5px;
} 

/* section-4 */

.sec-4 {
    padding-bottom: 80px;
    background-image: url(images/shapes/shape-1.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.sec-4 .flex{
    margin:  60px 100px;
}

.sec-4 div img{
    width: 95%;
}

.sec-4-cont-pad{
    width: 880px;
}

.sec-4-img-pad{
    padding-left: 20px;
}

/* section-5 */

.sec-5 .flex{
    margin-top: 20px;
    background-image: linear-gradient( rgb(212, 212, 252), white);
    border-radius: 5px;
    background-attachment: fixed;
}

.sec-5 div {
    margin: 60px 100px 0px;
}

.sec-5 div img{
    width: 90%;
}

.sec-5 h3{
    color: rgb(49, 49, 49);
    font-style: italic;
}

.sec-5 h1{
    text-align: center;
}